/* assets/css/custom.css */
.wrapper, .content {
  max-width: 1200px; /* Adjust this value to make it wider */
  width: 100%;
  margin: 0 auto;
  padding: 1em;
}

.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px; /* Optional: adjust as needed for spacing */
}